


body{
    margin: 0;
}

#bottomTray{
    position: absolute;
    background: rgba(214, 123, 123, 0.3);
    bottom: 8px;
    right: 0;
    padding :10px ;
    border-radius: 16px;
}

#bottomTray h3{
    margin: 4px;
    
}

.box{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px yellow;
}

.red{
    background: red;
}

.orange{
    background: orange;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.purple{
    background: purple;
}

.save{
    background-image: "download.png";

}