


body{
    margin: 0;
}

#bottomTray{
    position: absolute;
    background: rgb(214, 123, 123);
    bottom: 8px;
    right: 0;
    padding :10px ;
    border-radius: 16px;
}

#bottomTray h3{
    margin: 4px;
        
}

.box{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px yellow;
    box-shadow: 2px 2px 2px;
    transition: box-shadow 0.25s;
}
.box:hover{
    box-shadow:0px 0px 2px;
}
.red{
    background: red;
}

.orange{
    background: orange;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.purple{
    background: purple;
}

.save{
    background-image: "download.png";

}

dialog {
    position: absolute;

    z-index: 2;
    top: 10px;
    bottom: 10px;

}


#openfile {
    background: green;
}

dialog button{
    background: yellow
}